qltour.dtd

<!ELEMENT QLTour (DSTour, DSDiaDiem, DSHuongDanVien, DSKhachSan, DSKhachHang, DSBooking)>
<!ATTLIST QLTour
    xmlns:xsi CDATA #IMPLIED
    xsi:noNamespaceSchemaLocation CDATA #IMPLIED
>

<!-- ======= Tour ======= -->
<!ELEMENT DSTour (Tour+)>
<!ELEMENT Tour (tenTour, moTa-tour, ngayBatDau, ngayKetThuc, giaTour, lichTrinh, DSDiaDiem-ref, DSChiTietKhachSan, DSVanChuyen)>
<!ATTLIST Tour 
    maTour ID #REQUIRED
    maHdv IDREF #REQUIRED>
<!ELEMENT tenTour (#PCDATA)>
<!ELEMENT moTa-tour (#PCDATA)>
<!ELEMENT ngayBatDau (#PCDATA)>
<!ELEMENT ngayKetThuc (#PCDATA)>
<!ELEMENT giaTour (#PCDATA)>
<!ELEMENT DSDiaDiem-ref (DiaDiem-ref+)>
<!ELEMENT DiaDiem-ref EMPTY>
<!ATTLIST DiaDiem-ref 
    maDiaDiem IDREF #REQUIRED>
<!ELEMENT lichTrinh (#PCDATA)>
<!ELEMENT DSChiTietKhachSan (ChiTietKhachSan*)>
<!ELEMENT ChiTietKhachSan (soLuongPhong, ngayCheckIn, ngayCheckOut)>
<!ATTLIST ChiTietKhachSan 
    maCTKS ID #REQUIRED
    maKS IDREF #REQUIRED>
<!ELEMENT soLuongPhong (#PCDATA)>
<!ELEMENT ngayCheckIn (#PCDATA)>
<!ELEMENT ngayCheckOut (#PCDATA)>
<!ELEMENT DSVanChuyen (VanChuyen*)>
<!ELEMENT VanChuyen (thoiGianXuatPhat, thoiGianKetThuc, diemXuatPhat, diemKetThuc, hangVanChuyen)>
<!ATTLIST VanChuyen 
    maVC ID #REQUIRED
    loaiPhuongTien (Máy_bay | Xe_khách | Cáp_treo | Thuyền) #REQUIRED>
<!ELEMENT thoiGianXuatPhat (#PCDATA)>
<!ELEMENT diemXuatPhat (#PCDATA)>
<!ELEMENT thoiGianKetThuc (#PCDATA)>
<!ELEMENT diemKetThuc (#PCDATA)>
<!ELEMENT hangVanChuyen (#PCDATA)>

<!-- ======= Dia diem ======= -->
<!ELEMENT DSDiaDiem (DiaDiem+)>
<!ELEMENT DiaDiem (tenDiaDiem, diaChi-diaDiem, moTa-diaDiem)>
<!ATTLIST DiaDiem 
    maDiaDiem ID #REQUIRED>    

<!ELEMENT tenDiaDiem (#PCDATA)>
<!ELEMENT moTa-diaDiem (#PCDATA)>       
<!ELEMENT diaChi-diaDiem (#PCDATA)>

<!-- ======= Huong dan vien ======= -->
<!ELEMENT DSHuongDanVien (HuongDanVien+)>
<!ELEMENT HuongDanVien (tenHuongDanVien, ngaySinh, soDienThoai, ngoaiNgu, kinhNghiem)>
<!ATTLIST HuongDanVien 
    maHdv ID #REQUIRED>        
<!ELEMENT tenHuongDanVien (#PCDATA)>
<!ELEMENT ngaySinh (#PCDATA)>           
<!ELEMENT soDienThoai (#PCDATA)>    
<!ELEMENT ngoaiNgu (#PCDATA)>
<!ELEMENT kinhNghiem (#PCDATA)>

<!-- ======= Khach san ======= -->
<!ELEMENT DSKhachSan (KhachSan+)>
<!ELEMENT KhachSan (tenKhachSan, diaChi-khachSan, soDienThoai)>
<!ATTLIST KhachSan 
    maKS ID #REQUIRED>
<!ELEMENT tenKhachSan (#PCDATA)>
<!ELEMENT diaChi-khachSan (#PCDATA)>
<!ELEMENT hangSao (#PCDATA)>

<!-- ======= Khach hang ======= -->
<!ELEMENT DSKhachHang (KhachHang+)>
<!ELEMENT KhachHang (tenKhachHang, diaChi, soDienThoai, email)>
<!ATTLIST KhachHang 
    maKhachHang ID #REQUIRED>
<!ELEMENT tenKhachHang (#PCDATA)>
<!ELEMENT diaChi (#PCDATA)>
<!ELEMENT email (#PCDATA)>

<!-- ======= Booking ======= -->
<!ELEMENT DSBooking (Booking+)>
<!ELEMENT Booking (thoiGianDat, diemDanhGia?, noiDungDanhGia?, DSChiTietBooking)>
<!ATTLIST Booking 
    maBooking ID #REQUIRED
    maTour IDREF #REQUIRED
    maKhachHang IDREF #REQUIRED
    trangThai (Da_dat | Da_xac_nhan | Da_thanh_toan | Da_huy | Da_hoan_tien) #REQUIRED
    phuongThucThanhToan (Tien_mat | Chuyen_khoan | Vi_dien_tu) #REQUIRED
>
<!ELEMENT thoiGianDat (#PCDATA)>
<!ELEMENT trangThai (#PCDATA)>
<!ELEMENT soTien (#PCDATA)>
<!ELEMENT phuongThucThanhToan (#PCDATA)>
<!ELEMENT diemDanhGia (#PCDATA)>
<!ELEMENT noiDungDanhGia (#PCDATA)>

<!-- ======= Chi tiet booking ======= -->
<!ELEMENT DSChiTietBooking (ChiTietBooking+)>
<!ELEMENT ChiTietBooking (hoTenNguoiDi, ngaySinh, gioiTinh, ghiChu?, loaiKhachHang)>
<!ATTLIST ChiTietBooking 
    maChiTietBooking ID #REQUIRED>

<!ELEMENT hoTenNguoiDi (#PCDATA)>
<!ELEMENT gioiTinh (#PCDATA)>
<!ELEMENT ghiChu (#PCDATA)>
<!ELEMENT loaiKhachHang (#PCDATA)>