qltour.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="QLTour" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="DSTour">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Tour" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="tenTour" type="xs:string"/>
                                        <xs:element name="moTa-tour" type="xs:string"/>
                                        <xs:element name="ngayBatDau" type="xs:date"/>
                                        <xs:element name="ngayKetThuc" type="xs:date"/>
                                        <xs:element name="DSDiaDiem-ref">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="DiaDiem-ref" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:attribute name="maDiaDiem" type="xs:IDREF" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="lichTrinh" type="xs:string"/>
                                        <xs:element name="DSChiTietKhachSan">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="ChiTietKhachSan" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="soLuongPhong" type="xs:integer"/>
                                                                <xs:element name="ngayCheckIn" type="xs:date"/>
                                                                <xs:element name="ngayCheckOut" type="xs:date"/>
                                                            </xs:sequence>
                                                            <xs:attribute name="maCTKS" type="xs:ID" use="required"/>
                                                            <xs:attribute name="maKS" type="xs:IDREF" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="DSVanChuyen">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="VanChuyen" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="loaiPhuongTien">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:enumeration value="Máy bay"/>
                                                                            <xs:enumeration value="Xe khách"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="thoiGianXuatPhat" type="xs:dateTime"/>
                                                                <xs:element name="thoiGianKetThuc" type="xs:dateTime"/>
                                                                <xs:element name="diemXuatPhat" type="xs:string"/>
                                                                <xs:element name="diemKetThuc" type="xs:string"/>
                                                                <xs:element name="hangVanChuyen" type="xs:string"/>


                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="maTour" type="xs:ID" use="required"/>
                                    <xs:attribute name="maHdv" type="xs:IDREF" use="required"/>

                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Danh sách địa điểm -->
                <xs:element name="DSDiaDiem">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="DiaDiem" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="tenDiaDiem" type="xs:string"/>
                                        <xs:element name="diaChi-diaDiem" type="xs:string"/>
                                        <xs:element name="moTa-diaDiem" type="xs:string"/>
                                        <!-- <xs:element name="soDienThoai">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="0\d{9}"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="email">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="[^@]+@[^@]+\.[^@]+"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element> -->
                                    </xs:sequence>
                                    <xs:attribute name="maDiaDiem" type="xs:ID" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <!-- Danh sach huong dan vien -->
                <xs:element name="DSHuongDanVien">          
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="HuongDanVien" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="tenHuongDanVien" type="xs:string"/>
                                        <xs:element name="ngaySinh" type="xs:date"/>
                                        <!-- Số điện thoại: 10 chữ số -->
                                        <xs:element name="soDienThoai">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                <xs:pattern value="0\d{9}"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="ngoaiNgu" type="xs:string"/>
                                        <xs:element name="kinhNghiem" type="xs:string"/>
                                    </xs:sequence>
                                    <!-- maHuongDanVien duy nhất toàn cục -->
                                    <xs:attribute name="maHdv" type="xs:ID" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <!-- Danh sach khach san -->
                <xs:element name="DSKhachSan">                              
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="KhachSan" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="tenKhachSan" type="xs:string"/>
                                        <xs:element name="diaChi-khachSan" type="xs:string"/>
                                        <!-- Số điện thoại: 10 chữ số -->
                                        <xs:element name="soDienThoai">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                <xs:pattern value="0\d{9}"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <!-- <xs:element name="hangSao" type="xs:int"/> -->
                                    </xs:sequence>
                                    <!-- maKhachSan duy nhất toàn cục -->
                                    <xs:attribute name="maKS" type="xs:ID" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Danh sach khach hang -->
                <xs:element name="DSKhachHang">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="KhachHang" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="tenKhachHang" type="xs:string"/>
                                        <xs:element name="diaChi" type="xs:string"/>
                                        <!-- Số điện thoại: 10 chữ số -->
                                        <xs:element name="soDienThoai">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                <xs:pattern value="0\d{9}"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="email">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="[^@]+@[^@]+\.[^@]+"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                    <!-- maKhachHang duy nhất toàn cục -->
                                    <xs:attribute name="maKhachHang" type="xs:ID" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Danh sach booking -->
                <xs:element name="DSBooking">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Booking" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="thoiGianDat" type="xs:date"/>
                                        <xs:element name="trangThai" type="xs:string"/>
                                        <xs:element name="soTien" type="xs:float"/>
                                        <xs:element name="phuongThucThanhToan" type="xs:string"/>
                                        <xs:element name="diemDanhGia" type="xs:int" minOccurs="0"/>
                                        <xs:element name="noiDungDanhGia" type="xs:string" minOccurs="0"/>
                                        <xs:element name="DSChiTietBooking">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="ChiTietBooking" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="hoTenNguoiDi" type="xs:string"/>
                                                                <xs:element name="ngaySinh" type="xs:date"/>
                                                                <xs:element name="gioiTinh">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:int">
                                                                            <xs:enumeration value="0"/>
                                                                            <xs:enumeration value="1"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="ghiChu" type="xs:string" minOccurs="0"/>
                                                                <xs:element name="loaiKhachHang" type="xs:string"/>
                                                            </xs:sequence>
                                                            <xs:attribute name="maChiTietBooking" type="xs:ID" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="maBooking" type="xs:ID" use="required"/>
                                    <xs:attribute name="maTour" type="xs:IDREF" use="required"/>
                                    <xs:attribute name="maKhachHang" type="xs:IDREF" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>




            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>