qltour.dtd

<!ELEMENT QLTour (DSTour, DSDiaDiem, DSHuongDanVien, DSKhachSan, DSKhachHang, DSBooking)>






<!-- ======= Dia diem ======= -->
<!ELEMENT DSDiaDiem (DiaDiem+)>
<!ELEMENT DiaDiem (tenDiaDiem, moTa, diaChi)>
<!ATTLIST DiaDiem 
    maDiaDiem ID #REQUIRED>    

<!ELEMENT tenDiaDiem (#PCDATA)>
<!ELEMENT moTa (#PCDATA)>       
<!ELEMENT diaChi (#PCDATA)>

<!-- ======= Huong dan vien ======= -->
<!ELEMENT DSHuongDanVien (HuongDanVien+)>
<!ELEMENT HuongDanVien (tenHuongDanVien, ngaySinh, soDienThoai, ngoaiNgu, kinhNghiem)>
<!ATTLIST HuongDanVien 
    maHuongDanVien ID #REQUIRED>        
<!ELEMENT tenHuongDanVien (#PCDATA)>
<!ELEMENT ngaySinh (#PCDATA)>           
<!ELEMENT soDienThoai (#PCDATA)>    
<!ELEMENT ngoaiNgu (#PCDATA)>
<!ELEMENT kinhNghiem (#PCDATA)>
<!-- ======= Khach san ======= -->
<!ELEMENT DSKhachSan (KhachSan+)>
<!ELEMENT KhachSan (tenKhachSan, diaChi, soDienThoai, hangSao)>
<!ATTLIST KhachSan 
    maKhachSan ID #REQUIRED>
<!ELEMENT tenKhachSan (#PCDATA)>
<!ELEMENT diaChi (#PCDATA)>
<!ELEMENT soDienThoai (#PCDATA)>
<!ELEMENT hangSao (#PCDATA)>
<!-- ======= Khach hang ======= -->
<!ELEMENT DSKhachHang (KhachHang+)>
<!ELEMENT KhachHang (tenKhachHang, diaChi, soDienThoai, email)>
<!ATTLIST KhachHang 
    maKhachHang ID #REQUIRED>

<!ELEMENT tenKhachHang (#PCDATA)>
<!ELEMENT diaChi (#PCDATA)>
<!ELEMENT soDienThoai (#PCDATA)>
<!ELEMENT email (#PCDATA)>

<!-- ======= Booking ======= -->
<!ELEMENT DSBooking (Booking+)>
<!ELEMENT Booking (thoiGianDat, trangThai, soTien, phuongThucThanhToan, diemDanhGia?, noiDungDanhGia?, DSChiTietBooking)>
<!ATTLIST Booking 
    maBooking ID #REQUIRED
    maTour IDREF #REQUIRED
    maKhachHang IDREF #REQUIRED>

<!ELEMENT thoiGianDat (#PCDATA)>
<!ELEMENT trangThai (#PCDATA)>
<!ELEMENT soTien (#PCDATA)>
<!ELEMENT phuongThucThanhToan (#PCDATA)>
<!ELEMENT diemDanhGia (#PCDATA)>
<!ELEMENT noiDungDanhGia (#PCDATA)>

<!-- ======= Chi tiet booking ======= -->
<!ELEMENT DSChiTietBooking (ChiTietBooking+)>
<!ELEMENT ChiTietBooking (hoTenNguoiDi, ngaySinh, gioiTinh, ghiChu?, loaiKhachHang)>
<!ATTLIST ChiTietBooking 
    maChiTietBooking ID #REQUIRED>

<!ELEMENT hoTenNguoiDi (#PCDATA)>
<!ELEMENT ngaySinh (#PCDATA)>
<!ELEMENT gioiTinh (#PCDATA)>
<!ELEMENT ghiChu (#PCDATA)>
<!ELEMENT loaiKhachHang (#PCDATA)>