qltour.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="QLTour" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="DSTour">
                    <xs:complexType>

                    </xs:complexType>
                </xs:element>

                <xs:element name="DSDiadiem">
                    <xs:complexType>

                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>