qltour.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:simpleType name="maType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z0-9\-]+"/>
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="varchar50Type">
        <xs:restriction base="xs:string">
        <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="varchar255Type">
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="sdtType">
        <xs:restriction base="xs:string">
            <xs:pattern value="0\d{9}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="emailType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[^@]+@[^@]+\.[^@]+"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="QLTour" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="DSTour">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Tour" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="tenTour" type="varchar50Type"/>
                                        <xs:element name="moTa-tour" type="varchar255Type"/>
                                        <xs:element name="ngayBatDau" type="xs:date"/>
                                        <xs:element name="ngayKetThuc" type="xs:date"/>
                                        <xs:element name="giaTour" type="xs:float"/>
                                        <xs:element name="lichTrinh" type="varchar255Type"/>
                                        <xs:element name="DSDiaDiem-ref">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="DiaDiem-ref" minOccurs="1" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:attribute name="maDiaDiem" type="maType" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>

                                            <xs:unique name="UniqueDiaDiemRef">
                                                <xs:selector xpath="DiaDiem-ref"/>
                                                <xs:field xpath="@maDiaDiem"/>
                                            </xs:unique>

                                        </xs:element>
                                        <xs:element name="DSChiTietKhachSan">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="ChiTietKhachSan" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="soLuongPhong" type="xs:integer"/>
                                                                <xs:element name="ngayCheckIn" type="xs:date"/>
                                                                <xs:element name="ngayCheckOut" type="xs:date"/>
                                                            </xs:sequence>
                                                            <xs:attribute name="maCTKS" type="maType" use="required"/>
                                                            <xs:attribute name="maKS" type="maType" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="DSVanChuyen">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="VanChuyen" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="thoiGianXuatPhat" type="xs:dateTime"/>
                                                                <xs:element name="thoiGianKetThuc" type="xs:dateTime"/>
                                                                <xs:element name="diemXuatPhat" type="varchar255Type"/>
                                                                <xs:element name="diemKetThuc" type="varchar255Type"/>
                                                                <xs:element name="hangVanChuyen" type="varchar50Type"/>
                                                            </xs:sequence>
                                                            <xs:attribute name="maVC" type="maType" use="required"/>
                                                            <xs:attribute name="loaiPhuongTien" use="required">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:string">
                                                                        <xs:enumeration value="Máy_bay"/>
                                                                        <xs:enumeration value="Xe_khách"/>
                                                                        <xs:enumeration value="Cáp_treo"/>
                                                                        <xs:enumeration value="Thuyền"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="maTour" type="maType" use="required"/>
                                    <xs:attribute name="maHdv" type="maType" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="DSDiaDiem">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="DiaDiem" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="tenDiaDiem" type="varchar50Type"/>
                                        <xs:element name="diaChi-diaDiem" type="varchar255Type"/>
                                        <xs:element name="moTa-diaDiem" type="varchar255Type"/>
                                    </xs:sequence>
                                    <xs:attribute name="maDiaDiem" type="maType" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="DSHuongDanVien">          
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="HuongDanVien" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="tenHuongDanVien" type="varchar50Type"/>
                                        <xs:element name="ngaySinh" type="xs:date"/>
                                        <xs:element name="soDienThoai" type="sdtType"/>
                                        <xs:element name="ngoaiNgu" type="varchar255Type"/>
                                        <xs:element name="kinhNghiem" type="varchar255Type"/>
                                    </xs:sequence>
                                    <xs:attribute name="maHdv" type="maType" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="DSKhachSan">                              
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="KhachSan" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="tenKhachSan" type="varchar50Type"/>
                                        <xs:element name="diaChi-khachSan" type="varchar255Type"/>
                                        <xs:element name="soDienThoai" type="sdtType"/>
                                    </xs:sequence>
                                    <xs:attribute name="maKS" type="maType" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="DSKhachHang">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="KhachHang" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="tenKhachHang" type="varchar50Type"/>
                                        <xs:element name="diaChi" type="varchar255Type"/>
                                        <xs:element name="soDienThoai" type="sdtType"/>
                                        <xs:element name="email" type="emailType"/>
                                    </xs:sequence>
                                    <xs:attribute name="maKhachHang" type="maType" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="DSBooking">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Booking" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="thoiGianDat" type="xs:date"/>
                                        <xs:element name="diemDanhGia" minOccurs="0" maxOccurs="1">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:int">
                                                    <xs:minInclusive value="1"/>
                                                    <xs:maxInclusive value="5"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="noiDungDanhGia" type="varchar255Type" minOccurs="0" maxOccurs="1"/>
                                        <xs:element name="DSChiTietBooking">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="ChiTietBooking" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="hoTenNguoiDi" type="varchar50Type"/>
                                                                <xs:element name="ngaySinh" type="xs:date"/>
                                                                <xs:element name="gioiTinh">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:int">
                                                                            <xs:enumeration value="0"/>
                                                                            <xs:enumeration value="1"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="ghiChu" type="varchar255Type" minOccurs="0" maxOccurs="1"/>
                                                            </xs:sequence>
                                                            <xs:attribute name="maChiTietBooking" type="maType" use="required"/>
                                                            <xs:attribute name="loaiKhachHang" use="required">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:string">
                                                                        <xs:enumeration value="Nguoi_lon"/>
                                                                        <xs:enumeration value="Tre_em"/>
                                                                        <xs:enumeration value="Sinh_vien"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="maBooking" type="maType" use="required"/>
                                    <xs:attribute name="maTour" type="maType" use="required"/>
                                    <xs:attribute name="maKhachHang" type="maType" use="required"/>
                                    <xs:attribute name="trangThai" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Da_dat"/>
                                                <xs:enumeration value="Da_xac_nhan"/>
                                                <xs:enumeration value="Da_thanh_toan"/>
                                                <xs:enumeration value="Da_huy"/>
                                                <xs:enumeration value="Da_hoan_tien"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="phuongThucThanhToan" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Tien_mat"/>
                                                <xs:enumeration value="Chuyen_khoan"/>
                                                <xs:enumeration value="Vi_dien_tu"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>

        <xs:key name="TourKey">
            <xs:selector xpath="DSTour/Tour"/>
            <xs:field xpath="@maTour"/>
        </xs:key>

        <xs:key name="CTKSKey">
            <xs:selector xpath="DSTour/Tour/DSChiTietKhachSan/ChiTietKhachSan"/>
            <xs:field xpath="@maCTKS"/>
        </xs:key>

        <xs:key name="VanChuyenKey">
            <xs:selector xpath="DSTour/Tour/DSVanChuyen/VanChuyen"/>
            <xs:field xpath="@maVC"/>
        </xs:key>

        <xs:key name="DiaDiemKey">
            <xs:selector xpath="DSDiaDiem/DiaDiem"/>
            <xs:field xpath="@maDiaDiem"/>
        </xs:key>

        <xs:key name="HuongDanVienKey">
            <xs:selector xpath="DSHuongDanVien/HuongDanVien"/>
            <xs:field xpath="@maHdv"/>
        </xs:key>

        <xs:key name="KhachSanKey">
            <xs:selector xpath="DSKhachSan/KhachSan"/>
            <xs:field xpath="@maKS"/>
        </xs:key>

        <xs:key name="KhachHangKey">
            <xs:selector xpath="DSKhachHang/KhachHang"/>
            <xs:field xpath="@maKhachHang"/>
        </xs:key>

        <xs:key name="BookingKey">
            <xs:selector xpath="DSBooking/Booking"/>
            <xs:field xpath="@maBooking"/>
        </xs:key>

        <xs:key name="ChiTietBookingKey">
            <xs:selector xpath="DSBooking/Booking/DSChiTietBooking/ChiTietBooking"/>
            <xs:field xpath="@maChiTietBooking"/>
        </xs:key>

        <xs:keyref name="CTKS_KhachSan_Ref" refer="KhachSanKey">
            <xs:selector xpath="DSTour/Tour/DSChiTietKhachSan/ChiTietKhachSan"/>
            <xs:field xpath="@maKS"/>
        </xs:keyref>

        <xs:keyref name="Tour_DiaDiem_Ref" refer="DiaDiemKey">
            <xs:selector xpath="DSTour/Tour/DSDiaDiem-ref/DiaDiem-ref"/>
            <xs:field xpath="@maDiaDiem"/>
        </xs:keyref>

        <xs:keyref name="Tour_HuongDanVien_Ref" refer="HuongDanVienKey">
            <xs:selector xpath="DSTour/Tour"/>
            <xs:field xpath="@maHdv"/>
        </xs:keyref>

        <xs:keyref name="BookingTourRef" refer="TourKey">
            <xs:selector xpath="DSBooking/Booking"/>
            <xs:field xpath="@maTour"/>
        </xs:keyref>

        <xs:keyref name="BookingKhachHangRef" refer="KhachHangKey">
            <xs:selector xpath="DSBooking/Booking"/>
            <xs:field xpath="@maKhachHang"/>
        </xs:keyref>

    </xs:element>
</xs:schema>